/* Roboto font */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Roboto', Arial, sans-serif;
}

img {
    height: 100px;
    width: auto;
}

span {
    color: darkred;
}